* {
	color: grey;
}

#searchForm {
	clear: both;
}
.img-bookworm {
	width: 200px;
	height: 150px;
	margin: 15px;
	float: left;
}

.search-field {
	width: 200px;
	margin-left: 10%;
	margin-bottom: 20px;
}

.search-field input {
	border-radius: 2px;
	width: 100%;
}

.header {
	display: flex;
}

#searchForm {
	display: flex;
}

.select-choices,
.search-field,
.search-button {
	margin: 50px 50px;
}

input {
	border-radius: 2px;
}

#heading {
	font-size: 30px;
	font-weight: 700;
}

img {
	cursor: pointer;
}

h3, h4 {
	margin: 0;
}


.book-img {
	margin-right: 10%;
	margin-left: 20%;
	float: left;
}

#heading {
	margin-left: 10%;
}

.book-content {
	margin-right: 20%;
	margin-left: 20%;
	height: 400px;
	line-spacing: 1.2;
}

.book {
	clear: left;
}

hr:not(:first-child) {
	margin-top: 100px;
}
